@media (min-width: 1024px) and (max-width: 1440px) {
    .imgmovie, .imgmovie2, .imgmovie3, .imgmovie4, .imgmovie5 {
      
      max-width: 11vw; /* Ancora più piccole su schermi molto stretti */
    }
    .imgmovie{
      left: 43%;
       }
    .imgmovie2{
      top: 63%;
      left: 62%;
       }
       .imgmovie3{
      left: 56%;
       }
       .imgmovie4{
      top: 65%;
       }
       .imgmovie5{
        left: 33%;
      top: 60%;
       }
       
       /* Posizionamento specifico delle immagini */
  .imgmovie6 {
    top: 35vh;
    left: 30vw; /* Posizione a sinistra */
  }
  
  .imgmovie7 {
    top: 35vh;
    left: 69vw; /* Posizione a sinistra */
  }
  p.InfoMovie {
    
    margin-top: -13%;
  }
  
  .player7{
  left: 3%;
  }
  .blur {
      filter: blur(30px); /* Applica un blur di 5px, regolabile secondo le tue preferenze */
      transition: filter 10s ease; /* Transizione per un effetto graduale */
    }
    /* Rimuovi l'effetto blur quando si passa il mouse sopra l'immagine */
    .blur:hover {
      transition: filter 1s;
      filter: none;
    }
  /* SidebarBiografico */
  .about-sidebar p,
  .work-sidebar p {
  margin-top: 9%;
    font-size: 0.8vw;
    
  }
  .work-sidebar p {
    margin-top: -2%;
  }
  .work-sidebar h5 {
    margin-top: 2%;
  }
  .work-sidebar h4{
    margin-top: 1%;
  }
  .work-sidebar h3{
    margin-top: 13%;
  }
  
  
  .about-sidebar h2,
  .work-sidebar h2 {
    top: 7.5%;
    font-size: 1vw;
  }
  .work-sidebar h2 {
    top: 2%;
    font-size: 1vw;
  }
  
  
  .about-sidebar h2{
    top:8.1%;
  }
  .sidebar-img {
    max-width: 35vw;
    top: 26%;
  }
  p.caption {
    
   left: 12%;
    font-size: 0.7vw;
    bottom: -1%;
  }
  .installation-sidebar h2 {
    font-size: 0.8vw;
  }
  .installation-sidebar p {
    font-size: 0.7vw;
  }
  
  
  .about-sidebar,
  .work-sidebar {
    top: 6.8%;
    height: 90%;
    width: 500px;
  }
  .work-sidebar {
    width:500px;
  }
  .infoSidebar{
    top: 25.5%;
  }
  .line,.line2{
    max-width: 35%;
    top: 12%;
  }
  .line2{
    top: 17%;
  }
  /* Link, nome */
  h1.name {
    font-size: 1.2vw; 
    font-weight: bold;
  }
  p.light {
    margin-top: 3% ;
    font-size: 1.1vw;
  }
  .about-link,
  .work-link, #contactLink {
    font-size: 0.9vw;
    
    
  }
  
    
  
  
  
  /*Sidebar Film*/
  .sidebar, .Sidebar2, .Sidebar3, .Sidebar4, .Sidebar5, .Sidebar6, .Sidebar7 {
  top: 10px;
  height: 88vh;
  }
  .video_0, .video_2, .video3, .video4, .video5, .video6, .video7  {
  top:13%;
  }
  /* piccole info*/
  p.InfoMovie{
    margin-top: -15%;
    font-size: 0.7vw;
  }
  p.movie, p.movie2, p.movie3, p.movie4, p.movie5, p.movie6, p.movie7{
  top:-10%;
  font-size: 1vw;
  }
  a.Title, a.Title2, a.Title3, a.Title4, a.Title5, a.Title6, a.Title7{
    top:-9%;
    font-size: 1vw;
  }
  .linemovie{
    top: -13.5%
  }
  .player, .player2, .player3, .player4, .player5, .player6, .player7 {
    max-width: 100%;
    height: auto;
    top: 47%;
    left: 18%;
  }
  .player7{
    left: 3%;
  }
  .sidebar .closebtn, .Sidebar2 .closebtn2, .Sidebar3 .closebtn3, .Sidebar4 .closebtn4, .Sidebar5 .closebtn5, .Sidebar6 .closebtn6, .Sidebar7 .closebtn7 {
    font-size: 20px;
  }
  /*Sidebar Portfolio*/
  p.aligned-text1, p.aligned-text2, p.aligned-text3, p.aligned-text4, p.aligned-text5, p.aligned-text6, p.aligned-text7, p.aligned-text8, p.aligned-text9, p.aligned-text10, p.aligned-text11 {
    font-size: 0.9vw;
    margin: 20px;
    margin-left:59px;
  }
  
  }
  