.infoSidebar {
    height: 40%;
        width: 300px;
        position: fixed;
        top: 20%;
        left: -600px;
        background-color: #c6c6c616;
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
        transition: 0.5s;
        padding-top: 60px;
        color: rgb(0, 0, 0);
        z-index: 1000;
        border: 0.5px solid rgba(220, 220, 220, 0.965);
        border-left: none;
}

.infoSidebar .sidebar-content {
    padding: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.infoSidebar .sidebar-content h2 {
    margin-top: -10%;
    font-size: 0.7vw;
    font-family: ABCDiatype-Medium, sans-serif;
    font-weight: bold;
    text-shadow: #767676 0px 2px 10px;
}
.sidebar-content p {
    margin-top: 10px;
    font-size: 0.6vw;
    font-family: ABCDiatype-Medium, sans-serif;
    text-shadow: #910b8dbb 0px 2px 5px;
}

.infoSidebar .closebtn {
    position: absolute;
    text-align: right;
    top: 10px;
    right: 25px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

/* Cambia il cursore per gli elementi con data-film */
p[data-film] {
    
    cursor: pointer;
}

p[data-film]:hover {
    color: #f1f1f1;
}


.unrelibleobject-img, .sleepingclose-img, .burden-img, .threaded-img, .zanskar-img, .despite-img, .donneche-img, .once-img, .Como-img, .viteinsospeso-img {
    position: absolute;
    max-width: 50%;
    bottom: 10%;
    left: 25%;
    height: auto;
    transition: filter 1s ease;
    filter: blur(0px);
    opacity: 1;
    align-items: center;
    &:hover {
        filter: blur(20px);
    }
}

.sleepingclose-img{
    max-width: 50%;
    bottom: 3%;
    left: 25%;
}
.burden-img, .threaded-img, .donneche-img, .once-img, .viteinsospeso-img   {
    max-width: 85%;
    left: 7%;
}   

 .despite-img {
    max-width: 75%;
    left: 13%;
    bottom: 3%;
}

.zanskar-img {
    max-width: 45%;
    bottom: 5%;
    left: 30%;
}
.despite-img {
    bottom: 20%;
    left: 12%;
}