.about-sidebar,
.work-sidebar {
  height: 80%;
  width: 600px;
  position: fixed  ;
  top: 6%;
  left: -600px;
  background-color: #c6c6c616;
  background-image: url(../IMG_page3/imgabout.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  transition: 0.5s;
  color: rgb(0, 0, 0);
  z-index: 1000;
  
  
  border: 0.5px solid rgba(220, 220, 220, 0.965);
}
.work-sidebar{
  background-image: none;
  width: 600px;
  
}
/* Contenitore principale per posizionare i link orizzontalmente */
.links-container {
  display: flex; /* Utilizza Flexbox per posizionare i link in orizzontale */
  justify-content: flex-start; /* Allinea i link a sinistra */
  align-items: center; /* Centra verticalmente i link */
  gap: 10px; /* Aggiunge spazio tra i link */
  
  padding: 20px; /* Aggiunge spazio intorno ai link */
}

/* Contenitore individuale per ogni link */
.link-container {
  display: inline-block;
  text-shadow: #000000bb 0px 0px 2px;
  background-color: #c6c6c616;
  padding: 8px 20px; /* Ridotto padding per contenitore più piccolo */
  border: 0.5px solid rgba(220, 220, 220, 0.965);
  cursor: pointer;
  color: rgb(0, 0, 0);
  text-align: center;
  position: relative;
  overflow: hidden; /* Assicurati che l'immagine non fuoriesca dal contenitore */
  width: auto; /* Lascia che il contenitore si adatti al contenuto */
  max-width: 200px; /* Imposta una larghezza massima per ogni contenitore */
  &:hover{
    color: aliceblue;
  }
}

/* Utilizziamo ::before per gestire l'immagine di sfondo */
.link-container::before {
  content: ''; /* L'elemento pseudo non ha contenuto */
  position: absolute; /* Posiziona l'elemento pseudo assolutamente */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../IMG_page3/containerimgpiccol.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1; /* Applica l'opacità solo all'immagine di sfondo */
  z-index: -1; /* Assicurati che l'immagine stia dietro al testo */
  filter: blur(25px);
}

.about-link, .work-link, #contactLink{
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.8vw;
}

.line, .line2 { 
    top: 3%;
    position: relative;
    margin-left: 20px;
    width: 100%;
    background-color: #000000;
    height: 1px;
    width: 550px;
} 
.line2 {
  position: absolute;
  top:11% ;
}

.about-link {
  top: 6%;
  left: 0.5%;
}


.work-link {
  top: 6%;
  /* Posiziona sotto il link "About" */
  left: 7%;
}

.about-sidebar h2,
.work-sidebar h2 {
  position: relative;
  top: 2%;
  font-weight: bold;
  text-align: left;
  margin: 5px 20px;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.8vw;
  color: #000000;
}
.work-sidebar h2 {
  position: absolute;
  top: 3%;
}
.work-sidebar h3 {
  position: relative;
  text-align: left;
  font-weight: bold;
  margin: 5px 20px;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.6vw;
  color: #000000;
  margin-top: 11%;
}
.work-sidebar h4 {
  position: relative;
  text-align: center;
  top: -14px;
  font-weight: bold;
  margin: 5px 20px;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.6vw;
  color: #000000;
}
.work-sidebar h5 {
  position: relative;
  text-align: right;
  top: -31px;
  font-weight: bold;
  margin: 5px 20px;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.6vw;
  color: #000000;
}
.about-sidebar p {
  position: absolute;
  top: 6%;
  margin: 13px 20px;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.6vw;
  color: #000000;
  line-height: 1.6;
}

.work-sidebar p {
  
  top: 6%;
  margin: 13px 20px;
  margin-left: 20%;
  margin-top: 5%;
  font-family: ABCDiatype-Medium, sans-serif;
  
  color: #000000;
  line-height: 1.6;
}
.highlighted-text1,
.highlighted-text2,
.highlighted-text3,
.highlighted-text4,
.highlighted-text5,
.highlighted-text6,
.highlighted-text7,
.highlighted-text8,
.highlighted-text9,
.highlighted-text10,
.highlighted-text11 {
  line-height: 1.6;
  
  margin-top: 2%;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.6vw;

}

.right-align,
.right-align2,
.right-align3,
.right-align4,
.right-align5,
.right-align6,
.right-align7,
.right-align8,
.right-align9,
.right-align10,
.right-align11 {

  line-height: 1.6;
  font-size: 0.6vw;

}

/* Stile per il contenuto principale */
#textContent {
  transition: none !important;
}
.sidebar-img {
  max-width: 100%;
  width: 93% ;
  margin-bottom: 1px;
  position: absolute; /* Cambiato da fixed a absolute per allinearla rispetto alla sidebar */
  top: 25%;
  left: 50%; /* Posiziona l'immagine al centro orizzontalmente */
  transform: translateX(-50%); /* Aggiungi per centrare l'immagine */
  border: 0.5px solid rgba(147, 147, 147, 0.965);
  cursor: pointer;
  filter: blur(0px);
  transition: filter 2.5s ease;
}

.sidebar-img:hover {
  filter: blur(10px);
}

.worksidebar-img {
  max-width: 71.3%;
  
  position: absolute;
  top: 0%;
  align-items: center;
  margin-left: 30px;
  opacity: 0.7;
  filter: blur(0px);
  transition: filter 1.5s ease;
  &:hover {
    filter: blur(20px);
  }
}
/* Stile per nascondere il contenuto principale */
.hide-content {
  display: none !important;
}


/* Stile per chiudere la sidebar */
.closebtn {
  position: absolute;
  color: #000000;
  top: 5px;
  right: 25px;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
}

.hide-about-link,
.hide-work-link {
  visibility: hidden;
    pointer-events: none;
}
p.caption {
  position: absolute;
  /* Rimane posizionata in modo assoluto rispetto alla sidebar */
  top: 95%;
  /* Posizionata a 10px dal fondo della sidebar */
  left: 32%;
  /* Allineamento orizzontale */
  width: 100%;
  /* Adatta la larghezza alla sidebar */
  font-family: ABCDiatype-Medium, sans-serif;
  font-style: italic;
  font-size: 0.5vw;
  color: #555;
  
  /* Centra il testo orizzontalmente */
}
/* Stile della seconda sidebar */
.installation-sidebar {
  position: fixed;
  left: -600px;
  top:14%;
  /* Partenza fuori schermo */
  width: 300px;
  height: 60%;
  background-color: #c6c6c616;
    transition: 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width:thin;
  scrollbar-color: #000000 #a5a5a512;
  
}
.installation-sidebar h2 {
  margin: 0px;
  margin-top: 22px;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.7vw;
  font-weight: bold;
  color: #000000;
  text-shadow: #767676 0px 2px 10px;
}
.installation-sidebar p {
  margin: 0px;
  margin-top: 6px;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.55vw;
  color: #000000;
  text-shadow: #910b8dbb 0px 2px 5px;
  line-height: 1.6;
}
/* Posiziona la seconda sidebar accanto alla prima */
.about-sidebar.open~.installation-sidebar {
  
  left:600px;
}

#installationSidebar audio {
  margin-bottom: -50px;
  width: 90%;
  margin-left: 10px;
  opacity: 0.1;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.5;
  }
}
  /* Fa sì che il lettore audio prenda tutta la larghezza disponibile nella sidebar */
        .hide-work-content {
          display: none !important;
        }
        
        .imgpiccolocontainer{
          width:10%
        }
    
