/* The sidebar menu */
.sidebar, .Sidebar2, .Sidebar3, .Sidebar4 {
  
  right: 0px;
  height: 88vh; /* 100% Full-height */
  width: 0vw; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 10px;
  background-color: #c6c6c616; /* Black*/
  background-image: url(/IMG_page3/imagpage3.png);
  background-size: 70%;
  background-repeat: no-repeat;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.1s; /* 0.5 second transition effect to slide in the sidebar */
  transform: translateX(5%);
  text-align: left;
  border: 0.5px solid rgba(220, 220, 220, 0.965);
}

@media screen and (min-width: 786px) and (max-width:1024px) {
  .sidebar, .Sidebar2, .Sidebar3, .Sidebar4 {
      top: 18%;
      height: 70vh;
      border: none;
  }
}

@media screen and (min-width: 420px) and (max-width:785px) {
  .sidebar, .Sidebar2, .Sidebar3, .Sidebar4 {
    top:8%;
    height: 70vh;
    background-color: rgb(220, 220, 220);
    border: none;
}
}

@media screen and (max-width:419px) {
  .sidebar, .Sidebar2, .Sidebar3, .Sidebar4 {
      top:10%;
      height: 70vh;
      background-color: rgb(220, 220, 220);
      border: none;
  }
}

/* The sidebar links */
.sidebar a, .Sidebar2 a, .Sidebar3 a, .Sidebar4 a {
  
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 3vw;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover, .Sidebar2 a:hover, .Sidebar3 a:hover, .Sidebar4 a:hover  {
  color: #0ede68;
  transition: font-size 0.3s ease;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn, .Sidebar2 .closebtn2, .Sidebar3 .closebtn3, .Sidebar4 .closebtn4 {
  position: absolute;
  text-align: right;
  top: 0;
  color: black;
  right: 28px;
  font-size: 1vw;
  
}

@media screen and (min-width: 786px) and (max-width:1024px) {
  .sidebar .closebtn, .Sidebar2 .closebtn2, .Sidebar3 .closebtn3, .Sidebar4 .closebtn4 {
      font-size: 3.5vw;
  }
}

@media screen and (min-width: 420px) and (max-width:785px) {
  .sidebar .closebtn, .Sidebar2 .closebtn2, .Sidebar3 .closebtn3, .Sidebar4 .closebtn4 {
      font-size: 4.5vw;
  }
  
}


@media screen and (max-width:419px) {
  .sidebar .closebtn, .Sidebar2 .closebtn2, .Sidebar3 .closebtn3, .Sidebar4 .closebtn4 {
      font-size: 4.5vw;
  }
}

/* The button used to open the sidebar */
.openbtn, .openbtn2, .openbtn3, .openbtn4 {
  font-size: 20px;
  cursor: pointer;
  background-color: inherit;
  margin-left: -500px;
  padding: 10px 15px;
  
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main, #main2, #main3, #main4 {
  margin-right: 14px;
  transition: margin-right 10s; /* If you want a transition effect */
  padding: 20px;
}


                                      .video_0, .video_2, .video3, .video4{
                                        position: absolute;  
                                        justify-content: center;  
                                        align-content: center;
                                        top: 11%;
                                        width: 100%;
                                      }   
                                      
                                      @media screen and (min-width: 786px) and (max-width:1024px) {
                                        .video_0, .video_2, .video3, .video4{
                                          top: 15%;
                                          }
                                      }

                                      @media  screen and (min-width: 420px) and (max-width:785px) {
                                        .video_0, .video_2, .video3, .video4{
                                          top: 15%;
                                          }
                                      }

                                      @media screen and (max-width:419px) {
                                        .video_0, .video_2, .video3, .video4{
                                          top: 17%;
                                          }
                                      }

                                      p.movie, p.movie2, p.movie3, p.movie4{
                                        position: absolute;
                                        padding-left: 5px;
                                        font-family: ABCDiatype-Medium, sans-serif;
                                        color: rgb(0, 0, 0);
                                        font-weight: bold;
                                        font-size: 0.8vw;
                                        left: 50%;
                                        translate: -50%;
                                        text-align: center;
                                        top: 1.5%;
                                      }
                                      @media screen and (min-width: 1441px) and (max-width:1660px) {

                                        p.movie, p.movie2, p.movie3, p.movie4{
                                          font-size: 1vw;
                                          top: 1.5%;
                                      }
                                      }

                                      @media screen and (min-width: 1280px) and (max-width:1440px) {

                                        p.movie, p.movie2, p.movie3, p.movie4{
                                          font-size: 1vw;
                                          top: 1.5%;
                                        
                                      }

                                      }
                                      
                                      @media screen and (min-width:786px) and (max-width:1024px) {
                                        p.movie, p.movie2, p.movie3, p.movie4{
                                          font-size: 2.5vw;
                                        }
                                        
                                      }

                                      @media screen and (min-width:420px) and (max-width:781px) {
                                        p.movie, p.movie2, p.movie3, p.movie4{
                                          top: 2.5%;
                                          font-size: 3vw;

                                        }
                                        
                                      }

                                      @media screen and (max-width:419px) {
                                        p.movie, p.movie2, p.movie3, p.movie4{
                                          top: 2.5%;
                                          font-size: 3vw;
                                        }
                                        
                                      }

                                      a.Title, a.Title2, a.Title3, a.Title4  {
                                        position: absolute;
                                        left: 50%;
                                        translate: -50%;
                                        font-family: ABCDiatype-Medium, sans-serif;
                                        font-weight: bold;
                                        color: rgb(0, 0, 0);
                                        font-size: 0.8vw;
                                        text-align: center;
                                        top: 4%;
                                      }
                                      @media screen and (min-width: 1441px) and (max-width:1660px) {

                                        a.Title, a.Title2, a.Title3, a.Title4{
                                          font-size: 1vw;
                                          top: 4%;
                                      }
                                      
                                      }

                                      @media screen and (min-width: 1280px) and (max-width:1440px) {

                                       a.Title, a.Title2,  a.Title3, a.Title4{
                                          font-size: 1vw;
                                          top: 3.5%;
                                      }
                                    }
                                      
                                    @media screen and (min-width:786px) and (max-width:1024px) {
                                      a.Title, a.Title2,  a.Title3, a.Title4{
                                        top: 5.5%;
                                        font-size: 2.5vw;
                                      }
                                      
                                    }

                                    @media screen and (min-width:420px) and (max-width:781px) {
                                      a.Title, a.Title2,  a.Title3, a.Title4{
                                        top: 5.5%;
                                        font-size: 3vw;
                                      }
                                      
                                    }

                                    @media screen and (max-width:419px) {
                                      a.Title, a.Title2,  a.Title3, a.Title4{
                                        top: 5.5%;
                                        font-size: 3vw;
                                      }
                                      
                                    }

                                      .player, .player2, .player3, .player4{
                                      position: absolute;
                                        top: 42%;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        
                                        align-items: center;
                                    }
                                  
                                    @media screen and (min-width: 1441px) and (max-width:1660px) {
                                      .player, .player3, .player4 {
                                       top: 36%;
                                       
                                       }
                                     }
                                    @media screen and (min-width: 1280px) and (max-width:1440px) {
                                     .player, .player3, .player4 {
                                      top: 46%;
                                      
                                      }
                                    }

                                    @media screen and (min-width:786px) and (max-width:1024px) {
                                      .player, .player3, .player4 {
                                        top: 59%;
                                      }
                                    }
                                   
                                    @media screen and (min-width:420px) and (max-width:785px) {
                                      .player, .player3, .player4 {
                                        top: 49%;
                                      }
                                    }

                                    @media screen and (max-width:419px) {
                                      .player, .player3, .player4 {
                                        top: 58%;
                                      }
                                    }