.infoSidebar {
    height: 40%;
        width: 300px;
        position: fixed;
        top: 20%;
        left: -100vw;
        background-color: #c6c6c616;
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
        transition: 0.5s;
        padding-top: 60px;
        color: rgb(0, 0, 0);
        z-index: 1000;
        border-left: none;
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    .infoSidebar {
        top: 80%;
        height: 15%;
        width: 73vw;
        margin-left: -37%;
        overflow-y: auto; 
    }
}


.infoSidebar .sidebar-content {
    padding: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.infoSidebar .sidebar-content h2 {
    margin-top: -10%;
    font-size: 0.7vw;
    font-family: ABCDiatype-Medium, sans-serif;
    font-weight: bold;
    text-shadow: #767676 0px 2px 10px;
}
.sidebar-content p {
    margin-top: 10px;
    font-size: 0.6vw;
    font-family: ABCDiatype-Medium, sans-serif;
    text-shadow: #910b8dbb 0px 2px 5px;
}

.infoSidebar .closebtn {
    position: absolute;
    text-align: right;
    top: 10px;
    right: 25px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    .infoSidebar .sidebar-content h2, .infoSidebar .closebtn{
        font-size: 2vw;
    }

    .infoSidebar .sidebar-content p {
        top: 10px;
        font-size: 2vw;
    }
}

/* Cambia il cursore per gli elementi con data-film */
p[data-film] {
    
    cursor: pointer;
}

p[data-film]:hover {
    color: #f1f1f1;
}


.unrelibleobject-img, .sleepingclose-img, .burden-img, .threaded-img, .zanskar-img, .despite-img, .donneche-img, .once-img, .Como-img, .viteinsospeso-img {
    position: absolute;
    max-width: 50%;
    bottom: 10%;
    left: 25%;
    height: auto;
    transition: filter 1s ease;
    filter: blur(0px);
    opacity: 1;
    align-items: center;
    &:hover {
        filter: blur(20px);
    }
}

.sleepingclose-img{
    
    max-width: 50%;
    bottom: 1%;
    left: 25%;
}
@media screen and (max-width: 480px) {
    .sleepingclose-img{
        position: absolute;
        top: 90%;
        left: 25%;
        overflow-y: auto;
    }
}

.burden-img, .threaded-img, .donneche-img, .once-img, .viteinsospeso-img   {
    max-width: 85%;
    left: 7%;
}   

@media screen and (max-width: 480px) {
    .donneche-img{
        position: absolute;
        top: 90%;
        
        overflow-y: auto;
    }
}

 .despite-img {
    max-width: 75%;
    left: 13%;
    bottom: 3%;
}

.zanskar-img {
    max-width: 45%;
    bottom: 5%;
    left: 30%;
}

@media screen and (max-width: 480px) {
    .zanskar-img{
        position: absolute;
        left: 26.9%;
       top: 115%;
    }
}
.despite-img {
    bottom: 20%;
    left: 12%;
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    .unrelibleobject-img, .sleepingclose-img, .burden-img, .threaded-img, .zanskar-img, .despite-img, .donneche-img, .once-img, .Como-img, .viteinsospeso-img {
        display: none;
    }
    
}

@media screen and (max-width: 480px) {
  .infoSidebar {
    position: fixed;
    margin-top: 27%;
    left: -100vw;
    transform: translate(0, -50%);
    width: 70vw;
    height: 60vh;
    z-index: 1000;
    overflow-y: auto;
    transition: left 0.3s ease;
  }

  .work-sidebar {
    transition: filter 0.3s ease;
  }

  .work-sidebar.blur {
    filter: blur(20px);
  }

  .infoSidebar .sidebar-content h2 {
    font-size: 3vw;
  }

  .infoSidebar .sidebar-content p {
    margin-top: 5vh;
    font-size: 2.5vw;
  }
}