.container {
  font-family: ABCDiatype-Medium, sans-serif;
  margin: 5px;
}

.work-list-item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlighted-text-container {
    text-align: center;
    width: 100%;
}

.work-info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: end;
    align-items: center;
}

.year {
    text-align: right;
}

.type-icons {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.fas.fa-film {
    position: absolute;
  font-size: .6vw;
  color: #000000;
  /* Colore rosso per l'icona */
  margin-left:  0px;
}
.fa-star, .fas.fa-headphones {
  position: absolute;
  font-size: .6vw;
  color: #000000;
  /* Colore rosso per l'icona */
  margin-left:  0px;
}


.aligned-text1, .aligned-text2, .aligned-text3, .aligned-text4, .aligned-text5, .aligned-text6, .aligned-text7, .aligned-text8, .aligned-text9, .aligned-text10, .aligned-text11 {
    display: flex;
    /* Utilizza flexbox per disporre gli elementi in una riga */
    justify-content: space-between;
    /* Spinge il contenuto ai bordi */
    align-items: center;
    /* Allinea verticalmente il contenuto */
}

    
.right-align {
  position: relative;
    margin-left: auto;
    /* Spinge l'elemento a destra */
}
