/* ===== ABOUT SIDEBAR STYLES ===== */

.about-sidebar,
.work-sidebar {
  height: 78vh;
  width: 29.3vw;
  position: fixed  ;
  top: 6.8%;
  left: -100vw;
  background-color: #c6c6c616;
  background-image: url(../IMG_page3/imgabout.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: 0.5s;
  color: rgb(0, 0, 0);
  z-index: 1000;
  border: 0.5px solid rgba(220, 220, 220, 0.965);
}

@media screen and (min-width: 1441px) and (max-width:1660px) {
  .about-sidebar {
    height: 66vh;
  } 

  .work-sidebar {
    height: 66vh;
    width: 29.3vw;
  }
}
  /*Laptop*/

  @media screen and (min-width: 1280px) and (max-width:1440px) {
    .about-sidebar {
      height: 81vh;
      width: 29.3vw;
    } 

    .work-sidebar {
      height: 81vh;
      width: 29.3vw;
    }
    
}

@media screen and (min-width:1025px) and (max-width:1279px) {
  .about-sidebar {
    width: 29.3vw;
    height: 69vh;
  } 

  .work-sidebar {
    height: 69vh;
    width: 29.3vw;
  }
}



@media screen and (min-width: 786px) and (max-width:1024px) {
  .about-sidebar {
    width: 78vw;
    top: 8%;
    left: -88vw;
    height: 82vh;
    margin-left: 50.7%;
    transform: translateX(-53.2%);
    align-items: center;
  }
  .work-sidebar {
    width: 78vw;
    top: 8%;
    left: -88vw;
    height: 71vh;
    margin-left: 50.7%;
    transform: translateX(-53.2%);
    align-items: center;
  }
}


.about-sidebar h2 {
  position: relative;
  top: 1%;
  font-weight: bold;
  text-align: left;
  margin: 5px 20px;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 1vw;
  color: #000000;
}
@media screen and (min-width:1025px) and (max-width:1279px) {
  .about-sidebar h2 {
    font-size: 1vw;
  } 
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
  .about-sidebar h2 {
    font-size: 2.4vw;
  } 
}

.about-sidebar p {
  position: absolute;
  top: 5%;
  margin: 13px 20px;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.8vw;
  color: #000000;
  line-height: 1.6;
}

@media screen and (min-width:1025px) and (max-width:1279px) {
  .about-sidebar p {
    top: 5%;
    font-size: 0.8vw;
  } 
}
@media screen and (min-width: 786px) and (max-width: 1024px) {
  .about-sidebar p {
    top: 5%;
    font-size: 2.1vw;
  } 
}
.about-link, #contactLink {
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.9vw;
}
@media screen and (min-width: 786px) and (max-width: 1024px) {
  .about-link, #contactLink {
    font-size: 2.5vw;
  }
}

@media screen and (max-width:480px)  {
  .about-link, #contactLink {
  font-size: 2.8vw;
  }
}
.about-link {
  top: 6%;
  left: 0.5%;
}

.line { 
    
    position: absolute;
    top: 6%;
    margin-left: 20px;
    max-width: 100%;
    width: 92%;
    background-color: #000000;
    height: 1px;
} 

.line2 {
    position: absolute;
    top: 10%;
    margin-left: 20px;
    max-width: 100%;
    margin: 13px 20px;
    width: 85%;
    background-color: #000000;
    height: 1px;
}

@media screen and (min-width: 1480px) and (max-width:1660px) {
  .line {
    width: 90%;
    top: 5%;
  } 

  .line2 {
    width: 83%;
    top: 9%;
}
}
@media screen and (min-width: 1280px) and (max-width:1440px) {
  .line {
    top: 5.5%;
    width: 88%;
  }

  .line2 {
    width: 88%;
    top: 9%;
}
}

@media screen and (min-width:1025px) and (max-width:1279px) {
  .line {
    width: 88%;
    top:5.5%;
  } 
.line2 {
  top: 9%;
}
  
}
@media screen and (min-width: 786px) and (max-width: 1024px) {
  .line  {
    width: 94%;
    top: 5%;
  } 

  .line2{
    width: 94%;
    top: 14%;
  }
}
.sidebar-img {
  position: absolute;
  max-width: 100%;
  width:90%;
  top: 35%;
  left: 50%; /* Posiziona l'immagine al centro orizzontalmente */
  transform: translateX(-50%); /* Aggiungi per centrare l'immagine */
  border: 0.5px solid rgba(147, 147, 147, 0.965);
  cursor: pointer;
  filter: blur(0px);
  transition: filter 2.5s ease;
}

@media screen and (min-width: 1441px) and (max-width:1660px) {
  .sidebar-img {
    top: 35%;
    width: 94%;
  }
}
@media screen and (min-width: 1280px) and (max-width:1440px) {
  .sidebar-img {
    top: 35%;
    width: 90%;
  }
}

@media screen and (min-width:1025px) and (max-width:1279px) {
  .sidebar-img {
    width: 90%;
    top: 35%;
  } 
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
  .sidebar-img {
    width: 90%;
    top: 32%;
  }
  
}


.caption {
  position: absolute;
  font-family: ABCDiatype-Medium, sans-serif;
  bottom: 23px;
  right: 50px;
  color: #5b5b5b;
  font-size: 0.7em;
  z-index: 2;
  max-width: 90%;
  text-align: right;
}
@media screen and (min-width: 1441px) and (max-width:1660px) {
  .caption {
    right: 20px;
    font-size: 0.5em;
    bottom:23px;
  }
}
@media screen and (min-width: 1280px) and (max-width:1440px) {
  .caption {
    font-size: 0.5em;
    bottom:22px;
  }
}

@media  screen and (min-width:1025px) and (max-width:1279px) { 
  .caption {
    font-size: 0.45em;
    bottom:25px;
    right: 34px;
  }
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
  .caption {
    font-size: 0.8em;
    bottom: 47px;
    right: 50px;
  }
}

.about-sidebar .closebtn {
  position: absolute;
  color: #000000;
  top: 1%;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 1.2vw;
  font-weight: bold;
  right: 25px;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (min-width: 1441px) and (max-width:1660px) {
  .about-sidebar .closebtn {
    font-size: 1.2vw;
  }
}
  
  @media screen and (min-width: 1280px) and (max-width:1440px) {
    .about-sidebar .closebtn {
      font-size: 1.5vw;
    }
}
@media screen and (min-width:1025px) and (max-width:1279px) {
  .about-sidebar .closebtn {
    font-size: 1.5vw;
  }

  @media screen and (min-width: 786px) and (max-width: 1024px) {
    .about-sidebar .closebtn {
      font-size: 2vw;
    }
  }
  
}
/* ===== WORK SIDEBAR STYLES ===== */

.work-sidebar{
  background-image: url(../IMG_page3/imgwork.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}


.work-sidebar h2 {
  position: absolute;
  top: 1%;
  font-weight: bold;
  text-align: left;
  margin: 5px 20px;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 1vw;
  color: #000000;
}

.work-sidebar h3 {
  position: relative;
  text-align: left;
  font-weight: bold;
  margin: 5px 20px;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.6vw;
  color: #000000;
  margin-top: 11%;
}

.work-sidebar h4 {
  position: relative;
  text-align: center;
  top: -14px;
  font-weight: bold;
  margin: 5px 20px;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.6vw;
  color: #000000;
}

.work-sidebar h5 {
  position: relative;
  text-align: right;
  top: -31px;
  font-weight: bold;
  margin: 5px 20px;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.6vw;
  color: #000000;
}

@media screen and (min-width:1441px) and (max-width:1660px) {
  .work-sidebar h2 {
    font-size: 1vw;
  }
  .work-sidebar h3 {
    font-size: 0.7vw;
    margin-top: 10%;
  }
  .work-sidebar h4 {
    font-size: 0.7vw;
  }
  .work-sidebar h5 {
    font-size: 0.7vw;
  }
}

@media screen and (min-width:1280px) and (max-width:1440px) {   

  .work-sidebar h3, .work-sidebar h4, .work-sidebar h5 {
    font-size: 0.7vw;
  }
  
}

@media screen and (min-width:1025px) and (max-width:1279px) {
  .work-sidebar h2 {
    font-size: 1.2vw;
  }
  .work-sidebar h3 {
    font-size: 0.8vw;
    margin-top: 10%;
  }
  .work-sidebar h4 {
    font-size: 0.8vw;
  }
  .work-sidebar h5 {
    font-size: 0.8vw;
  }
  
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
  .work-sidebar h2 {
    font-size: 2.5vw;
  }
  .work-sidebar h3 {
    font-size: 2vw;
    margin-top: 12%;
  }
  .work-sidebar h4 {
    margin-top: -2%;
    font-size: 2vw;
  }
  .work-sidebar h5 {
    margin-top: -1%;
    font-size: 2vw;
  }
  
}

.work-sidebar p {
  
  top: 6%;
  margin: 20px 24px;
  margin-left: 5%;
  margin-top: 5%;
  font-family: ABCDiatype-Medium, sans-serif;
  
  color: #000000;
  line-height: 1.6;
}

@media screen and (min-width:1280px) and (max-width:1440px) {
  .work-sidebar p {

    margin: 20px 24px;
}
}

@media screen and (min-width:1025px) and (max-width:1279px) { 
  .work-sidebar p {

    margin: 20px 24px;    
 
}
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
  .work-sidebar p {

    margin: 20px 24px;    
  
}
}
.work-link {
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.9vw;
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
  .work-link {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 480px) {
  .work-link {
    font-size: 2.8vw;
  }
}

.work-link {
  top: 6%;
  /* Posiziona sotto il link "About" */
  left: 7%;
}


.work-sidebar .closebtn {
  position: absolute;
  color: #000000;
  top: 1%;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 1vw;
  font-weight: bold;
  right: 25px;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (min-width: 1441px) and (max-width:1660px) {
  .work-sidebar .closebtn {
    top: 1%;
    font-size: 1.2vw;
  }
}
  
  @media screen and (min-width: 1280px) and (max-width:1440px) {
    .work-sidebar .closebtn {
      font-size: 1.5vw;
    }
}
@media screen and (min-width:1025px) and (max-width:1279px) {
  .work-sidebar .closebtn {
    font-size: 1.5vw;
  }
  
}   

@media screen and (min-width: 786px) and (max-width: 1024px) {
  .work-sidebar .closebtn {
    font-size: 3.5vw;
  }
}

/* ===== SHARED STYLES ===== */

/* Contenitore principale per posizionare i link orizzontalmente */
.links-container {
  display: flex; /* Utilizza Flexbox per posizionare i link in orizzontale */
  justify-content: flex-start; /* Allinea i link a sinistra */
  align-items: center; /* Centra verticalmente i link */
  gap: 10px; /* Aggiunge spazio tra i link */
  
  padding: 20px; /* Aggiunge spazio intorno ai link */
}

/* Contenitore individuale per ogni link */
.link-container {
  display: inline-block;
  text-shadow: #000000bb 0px 0px 2px;
  background-color: #c6c6c616;
  padding: 0.6vw 2.0vw; /* Ridotto padding per contenitore più piccolo */
  border: 0.5px solid rgba(220, 220, 220, 0.965);
  cursor: pointer;
  color: rgb(0, 0, 0);
  text-align: center;
  position: relative;
  overflow: hidden; /* Assicurati che l'immagine non fuoriesca dal contenitore */
  width: auto; /* Lascia che il contenitore si adatti al contenuto */
  max-width: 200px; /* Imposta una larghezza massima per ogni contenitore */
  &:hover{
    color: aliceblue;
  }
}
@media screen and (min-width: 786px) and (max-width: 1024px) {
  .link-container {
    padding: 2vw 5.3vw; /* Ridotto padding per contenitore meno grande */
    left: 9.5%;
  }
}

@media screen and (max-width: 480px) {
  .link-container {
    margin-top: 1%;
    
    padding: 1vw 2.3vw; /* Ridotto padding per contenitore meno grande */
    left: 12%;
  }
}
/* Utilizziamo ::before per gestire l'immagine di sfondo */
.link-container::before {
  content: ''; /* L'elemento pseudo non ha contenuto */
  position: absolute; /* Posiziona l'elemento pseudo assolutamente */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../IMG_page3/containerimgpiccol.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1; /* Applica l'opacità solo all'immagine di sfondo */
  z-index: -1; /* Assicurati che l'immagine stia dietro al testo */
  filter: blur(25px);
}

.highlighted-text1,
.highlighted-text2,
.highlighted-text3,
.highlighted-text4,
.highlighted-text5,
.highlighted-text6,
.highlighted-text7,
.highlighted-text8,
.highlighted-text9,
.highlighted-text10,
.highlighted-text11 {
  line-height: 1.6;
  margin-left: 13%;
  margin-top: 1%;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.6vw;

}

.right-align,
.right-align2,
.right-align3,
.right-align4,
.right-align5,
.right-align6,
.right-align7,
.right-align8,
.right-align9,
.right-align10,
.right-align11 {

  line-height: 1.6;
  font-size: 0.6vw;

}

@media screen and (min-width: 1441px) and (max-width:1660px) {
  .highlighted-text1,
  .highlighted-text2,
  .highlighted-text3,
  .highlighted-text4,
  .highlighted-text5,
  .highlighted-text6,
  .highlighted-text7,
  .highlighted-text8,
  .highlighted-text9,
  .highlighted-text10,
  .highlighted-text11 {
    top: 1%;
    font-size: 0.7vw;
  }
  .right-align, 
  .right-align2,
  .right-align3,
  .right-align4,
  .right-align5,
  .right-align6,
  .right-align7,
  .right-align8,
  .right-align9,
  .right-align10,
  .right-align11 {
    font-size: 0.7vw;
  }

  .work-sidebar{
    margin: none ;
  }
}

@media screen and (min-width: 1280px) and (max-width:1440px) {
  .highlighted-text1,
  .highlighted-text2,
  .highlighted-text3,
  .highlighted-text4,
  .highlighted-text5,
  .highlighted-text6,
  .highlighted-text7,
  .highlighted-text8,
  .highlighted-text9,
  .highlighted-text10,
  .highlighted-text11 {
    top: 1%;
    margin-left: 15%;
    font-size: 0.7vw;
  }
  .right-align, 
  .right-align2,
  .right-align3,
  .right-align4,
  .right-align5,
  .right-align6,
  .right-align7,
  .right-align8,
  .right-align9,
  .right-align10,
  .right-align11 {
    font-size: 0.7vw;
  }
  
}

@media screen and (min-width:1025px) and (max-width:1279px) {   
  .highlighted-text1,
  .highlighted-text2,
  .highlighted-text3,
  .highlighted-text4,
  .highlighted-text5,
  .highlighted-text6,
  .highlighted-text7,
  .highlighted-text8,
  .highlighted-text9,
  .highlighted-text10,    
  .highlighted-text11 {
    top: 1%;
    margin-left: 15%;
    font-size: 0.8vw;
  }
  .right-align, 
  .right-align2,
  .right-align3,
  .right-align4,
  .right-align5,
  .right-align6,
  .right-align7,
  .right-align8,
  .right-align9,
  .right-align10,
  .right-align11 {
    font-size: 0.8vw;
  }
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
  .highlighted-text1,
  .highlighted-text2,
  .highlighted-text3,
  .highlighted-text4,
  .highlighted-text5,
  .highlighted-text6,
  .highlighted-text7,
  .highlighted-text8,
  .highlighted-text9,
  .highlighted-text10,
  .highlighted-text11 {
    top: 1%;
    margin-left: 15%;
    font-size: 2vw;
  }
  .right-align, 
  .right-align2,
  .right-align3,
  .right-align4,
  .right-align5,
  .right-align6,
  .right-align7,
  .right-align8,
  .right-align9,
  .right-align10,
  .right-align11 {
    font-size: 2vw;
  }
}

/* Stile per il contenuto principale */
#textContent {
  transition: none !important;
}

/* Stile per nascondere il contenuto principale */
.hide-content {
  display: none !important;
}

/* Stile per nascondere il contenuto del lavoro */
.hide-work-content {
  display: none !important;
}

/* Stile per nascondere il link */
.hide-about-link,
.hide-work-link {
  visibility: hidden;
    pointer-events: none;
}

/* Stile per la seconda sidebar */
.installation-sidebar {
  position: fixed;
  left: -100vw;
  top:14%;
  /* Partenza fuori schermo */
  width: 18vw;
  height: 50%;
  background-color: #c6c6c616;
    transition: 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width:thin;
  scrollbar-color: #000000 #a5a5a512;
  margin-left: 20px;
  }

  @media screen and (min-width: 1441px) and (max-width:1660px) {
    .installation-sidebar {
      height: 40%;
      width: 18vw;
    }
  }
    
    @media screen and (min-width: 1280px) and (max-width:1440px) {
      .installation-sidebar {
        width: 20vw;
      }
      
  }

  @media screen and (min-width: 1025px) and (max-width:1279px) {
    .installation-sidebar {
      top: 11%;
      height: 45%;
      width: 18vw;
    }
  }
 
  @media screen and (min-width: 786px) and (max-width:1024px) {
    .installation-sidebar {
      top: 91%;
      margin-left: 12%;
      height: 4%;
      width: 73vw;
    }
    
  }
.installation-sidebar h2 {
  position: absolute;
  margin: 0px;
  margin-top: 1%;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.8vw;
  font-weight: bold;
  color: #000000;
  text-shadow: #767676 0px 2px 10px;
  text-align: center;
  left: 50%;
  translate: -50%; 
}
@media screen and (min-width: 1024px) and (max-width:1279px) {
  .installation-sidebar h2 {
    
    font-size: 0.9vw;
  }
}

@media screen and (min-width: 786px) and (max-width:1024px) {
  .installation-sidebar h2 {
    text-shadow: #e015c197 0px 2px 20px;
    color: white;
    font-size: 2vw;
  }
}

.installation-sidebar p {
  position: absolute;
  top: 10%;
  font-family: ABCDiatype-Medium, sans-serif;
  font-size: 0.6vw;
  color: #000000;
  text-shadow: #910b8dbb 0px 2px 5px;
  line-height: 1.6;
}

@media screen and (min-width: 1441px) and (max-width:1660px) {
  .installation-sidebar p {
    font-size: 0.6vw;
  }
}
  
  @media screen and (min-width: 1280px) and (max-width:1440px) {
    .installation-sidebar p {
      font-size: 0.7vw;
    }
}

  @media screen and (min-width: 1025px) and (max-width:1279px) {
    .installation-sidebar p {
      top: 12.5%;
      font-size: 0.8vw;
    }
}

@media screen and (min-width: 786px) and (max-width:1024px) {
  .installation-sidebar p {
  display: none;
}
}
/* Posiziona la seconda sidebar accanto alla prima */
.about-sidebar.open~.installation-sidebar {
  
  left:29.3vw ;
}



#installationSidebar audio {
  position: absolute;
  bottom: 10px;
  width: 90%;
  margin-left: 10px;
  opacity: 0.1;
  display: none;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.5;
  }
}

.imgpiccolocontainer{
  width:10%
}
