/* The sidebar menu */
.Sidebar5, .Sidebar6, .Sidebar7 {
  
  right: 0px;
    height: 88vh;
    /* 100% Full-height */
    width: 0vw;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 10px;
  
    background-color: #c6c6c616;
    /* Black*/
    background-image: url(/IMG_page3/imagpage3.5.png);
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.1s;
    /* 0.5 second transition effect to slide in the sidebar */
    transform: translateX(5%);
    text-align: left;
    border: 0.5px solid rgba(220, 220, 220, 0.965)
  
}

@media screen and (min-width: 781px) and (max-width:1024px) {
  .Sidebar5, .Sidebar6, .Sidebar7 {
      top: 18%;
      height: 70vh;
      border: none;
  }
}

@media screen and (min-width: 420px) and (max-width:780px) {
  .Sidebar5, .Sidebar6, .Sidebar7 {
      top: 8%;
      height: 70vh;
      background-color: rgb(220, 220, 220);
      border: none;
  }
} 

@media screen and (max-width:419px) {
  .Sidebar5, .Sidebar6, .Sidebar7 {
      top: 9%;
      height: 70vh;
      background-color: rgb(220, 220, 220);

      border: none;
  }
  
}

.Sidebar6 {
  background-image: url(../IMG_page3/imagpage3.6.png) ;
  background-size: 100%;
}
.Sidebar7 {
  background-image: url(../IMG_page3/imagpage3.7.png) ;
  background-size: 100%;
}
/* The sidebar links */
.Sidebar5 a, .Sidebar6 a, .Sidebar7 a {
  
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

/* When you mouse over the navigation links, change their color */
.Sidebar5 a:hover, .Sidebar6 a:hover, .Sidebar7 a:hover {
  color: #0ede68;
}

/* Position and style the close button (top right corner) */
.Sidebar5 .closebtn5, .Sidebar6 .closebtn6, .Sidebar7 .closebtn7 {
position: absolute;
  text-align: right;
  top: -5px;
  right: 28px;
  font-size: 1vw;
  color: black;
  margin-left: 50px;
}

@media screen and (min-width: 786px) and (max-width:1024px) {
  .Sidebar5 .closebtn5 , .Sidebar6 .closebtn6, .Sidebar7 .closebtn7 {
      font-size: 3.5vw;
  }
}
@media screen and (min-width: 420px) and (max-width:785px) {

.Sidebar5 .closebtn5 , .Sidebar6 .closebtn6, .Sidebar7 .closebtn7{
  font-size: 4.5vw;
}

}


@media screen and (max-width:419px) {
  .Sidebar5 .closebtn5 , .Sidebar6 .closebtn6, .Sidebar7 .closebtn7 {
      font-size: 4.5vw;
  }
  
}
/* The button used to open the sidebar */
.openbtn5, .openbtn6, .openbtn7 {
  font-size: 20px;
  cursor: pointer;
  background-color: inherit;
  margin-left: -1400px;
  padding: 10px 15px;
  border: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main5, #main6, #main7 {
  margin-right: 14px;
  transition: margin-right 10s; /* If you want a transition effect */
  padding: 20px;
}




                                      
                                      .video5, .video6, .video7 {
                                        position: absolute;  
                                        justify-content: center;  
                                        align-content: center;
                                        top: 11%;
                                        width: 100%;
                                      }           

                                      @media screen and (min-width: 786px) and (max-width:1024px) {
                                        .video5, .video6, .video7 {
                                          top: 15%;
                                          }
                                      }

                                      @media screen and (min-width: 420px) and (max-width:785px) {
                                        .video5, .video6, .video7{
                                          top: 15%;
                                          }
                                      }

                                      @media screen and (max-width:419px) {
                                        .video5, .video6, .video7{
                                          top: 17%;
                                          }
                                      }

                                      p.movie5, p.movie6, p.movie7{
                                        position: absolute;
                                        padding-left: 5px;
                                        font-family: ABCDiatype-Medium, sans-serif;
                                        color: rgb(0, 0, 0);
                                        font-weight: bold;
                                        font-size: 0.8vw;
                                        left: 50%;
                                        translate: -50%;
                                        text-align: center;
                                        top: 1.5%;
                                      }
                                      @media screen and (min-width: 1441px) and (max-width:1660px) {
                                        p.movie5, p.movie6, p.movie7{
                                          font-size: 1vw;
                                        }
                                      }
                                      @media screen and (min-width: 1280px) and (max-width:1440px) {
                                        p.movie5, p.movie6, p.movie7{
                                          font-size: 1vw;
                                        }
                                      }

                                      @media screen and (min-width:786px) and (max-width:1024px) {
                                        p.movie5, p.movie6, p.movie7{
                                          font-size: 2.5vw;
                                        }
                                      }
                                      
                                      @media screen and (min-width: 420px) and (max-width:785px) {
                                        p.movie5, p.movie6, p.movie7{
                                          top: 2.5%;
                                          font-size: 3vw;
                                        }
                                      }

                                      @media screen and (max-width:419px) {
                                        p.movie5, p.movie6, p.movie7{
                                          top: 2.5%;
                                          font-size: 3vw;
                                        }
                                        
                                      }

                                      .linemovie{
                                        position: absolute;
                                        top:4%;
                                        height: 1px;
                                        width: 100%;
                                        align-items: center;
                                        background-color: rgb(0, 0, 0);
                                      }

                                      @media screen and (min-width: 786px) and (max-width:1024px) {
                                      .linemovie{
                                        top: 5%;
                                      }
                                      }

                                      @media screen and (max-width:480px) {
                                      .linemovie{
                                        top: 5.5%;
                                      }
                                      }
                                      a.Title5, a.Title6, a.Title7{
                                        position: absolute;
                                          left: 50%;
                                          translate: -50%;
                                          font-family: ABCDiatype-Medium, sans-serif;
                                          font-weight: bold;
                                          color: rgb(0, 0, 0);
                                          font-size: 0.8vw;
                                          text-align: center;
                                          top: 4%;
                                      }
                                      @media screen and (min-width: 1441px) and (max-width:1660px) {
                                        a.Title5, a.Title6, a.Title7{
                                          font-size: 1vw;
                                        }
                                      }
                                      @media screen and (min-width: 1280px) and (max-width:1440px) {
                                        a.Title5, a.Title6, a.Title7{
                                          font-size: 1vw;
                                        }
                                      }

                                      @media screen and (min-width:786px) and (max-width:1024px) {
                                        a.Title5, a.Title6, a.Title7{
                                          top: 5.5%;
                                          font-size: 2.5vw;
                                        }
                                        
                                      }

                                      @media screen and (min-width:420px) and (max-width:781px) {
                                        a.Title5, a.Title6,  a.Title7{
                                          top: 5.5%;
                                          font-size: 3vw;
                                        }
                                        
                                      }
  
                                      @media screen and (min-width:420px) and (max-width:781px) {
                                        a.Title5, a.Title6,  a.Title7{
                                          top: 5.5%;
                                          font-size: 3vw;
                                        }
                                        
                                      }
  
                                      @media screen and (max-width:419px) {
                                        a.Title5, a.Title6,  a.Title7{
                                          top: 5.5%;
                                          font-size: 3vw;
                                        }
                                        
                                      }

                                      p.InfoMovie {
                                        position: absolute;
                                        padding-right: 25px;
                                        font-family: ABCDiatype-Medium, sans-serif;
                                        font-weight: normal;
                                       text-align: center;
                                        font-size: 0.6vw;
                                       top: 7%;
                                      } 

                                      @media screen and (min-width: 1441px) and (max-width:1660px) {
                                        p.InfoMovie{
                                          font-size: 0.7vw;
                                        }
                                      }
                                      @media screen and (min-width: 1280px) and (max-width:1440px) {
                                        p.InfoMovie{
                                          font-size: 0.7vw;
                                        }
                                      }

                                      @media screen and (min-width:786px) and (max-width:1024px) {
                                        p.InfoMovie{
                                          top: 9.5%;
                                          font-size: 2vw;
                                        }
                                        
                                      }
                                      @media screen and (min-width:420px) and (max-width:781px) {
                                        p.InfoMovie{
                                          top: 10%;
                                          font-size: 2.5vw;
                                        }
                                        
                                      }
                                      @media screen and (max-width:419px) {
                                        p.InfoMovie{
                                          top: 11%;
                                          font-size: 2.5vw;
                                        }
                                        
                                      }

                                      .player5, .player6, .player7{
                                        position: absolute;
                                        top: 42%;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        align-items: center;
                                    }
                                   
                                    @media screen and (min-width: 1441px) and (max-width:1660px) {
                                      .player5 {
                                        top: 39%;
                                      }
                                       .player6{
                                        top: 45%;
                                    } 
                                      .player7{
                                        
                                        top: 36%;
                                      }
                                    }
                                    @media screen and (min-width: 1280px) and (max-width:1440px) { 
                                      .player5, .player6{
                                        top: 45%;
                                    } 
                                      .player7{
                                        
                                        top: 46%;
                                      }
                                      }

                                      @media screen and (min-width:786px) and (max-width:1024px) {
                                        .player5, .player6{
                                          top: 59%;
                                        }

                                        .player7{
                                          top: 60%;
                                        }
                                      }

                                      @media screen and (min-width:420px) and (max-width:781px) {
                                        .player5, .player6{
                                          top: 49%;
                                        }
                                        .player7{
                                          top: 50%;
                                        }
                                        
                                      }

                                      @media screen and (max-width:419px) {
                                        .player5, .player6{
                                          top: 59%;
                                        }
                                        .player7{
                                          top: 59%;
                                        }
                                      }